@import "{{ site.theme }}";

/* Change the font family to a monospace font */
body {
  font-family: "Fira Code", monospace !important;
}

/* Change the background color of the code blocks */
.highlight {
  background-color: #292929;
}

/* Change the font color of links */
a {
  color: #1abc9c;
}

/* Change the background color of the navbar */
.Header {
  background-color: #0d1117;
}

/* Change the color of the navbar links */
.Header-link {
  color: #c9d1d9;
}

/* Change the background color of the footer */
.footer-socket {
  background-color: #0d1117;
}

/* Change the color of the footer text */
.footer-socket-text {
  color: #8b949e;
}
